/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
}

// TIPTAP
/* Basic editor styles */
.ProseMirror {
  > * + * {
    margin-top: 2px;
  }

  ul {
    @apply list-disc list-outside;
  }
  ol {
    @apply list-decimal list-outside;
  }

  a {
    @apply underline text-zinc-500 cursor-pointer;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1 {
    font-size: 29px;
  }
  h2 {
    font-size: 27px;
  }
  h3 {
    font-size: 23px;
  }
  h4 {
    font-size: 21px;
  }
  h5 {
    font-size: 17px;
  }
  h6 {
    font-size: 15px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    font-family: "JetBrainsMono", monospace;
    @apply bg-zinc-500 text-white text-sm p-1;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 15px;
    }
    .hljs-comment,
    .hljs-quote {
      color: #616161;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }

  img {
    height: auto;
    max-width: 100%;

    &.ProseMirror-selectednode {
      outline: 3px solid #68cef8;
    }
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }

  table {
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;

    td,
    th {
      border: 2px solid #ced4da;
      box-sizing: border-box;
      min-width: 1em;
      padding: 3px 5px;
      position: relative;
      vertical-align: top;

      > * {
        margin-bottom: 0;
      }
    }

    th {
      background-color: #f1f3f5;
      font-weight: bold;
      text-align: left;
    }

    .selectedCell:after {
      background: rgba(200, 200, 255, 0.4);
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      pointer-events: none;
      position: absolute;
      z-index: 2;
    }

    .column-resize-handle {
      background-color: #adf;
      bottom: -2px;
      position: absolute;
      right: -2px;
      pointer-events: none;
      top: 0;
      width: 4px;
    }

    p {
      margin: 0;
    }
  }
}

.tableWrapper {
  padding: 1rem 0;
  overflow-x: auto;
}

.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.collaboration-cursor__caret {
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}

/* Render the username above the caret */
.collaboration-cursor__label {
  border-radius: 3px 3px 3px 0;
  color: #0d0d0d;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  left: -1px;
  line-height: normal;
  padding: 0.1rem 0.3rem;
  position: absolute;
  top: -1.4em;
  user-select: none;
  white-space: nowrap;
}

/* *{
  border: 1px red solid;
} */

@layer utilities {
  .contain {
    @apply container mx-auto;
  }

  .btn-primary {
    @apply flex items-center justify-center px-3 xl:px-5 py-2.5 text-sm tracking-wide text-white transition-colors duration-200 bg-blue-500 rounded-lg w-auto gap-x-2 hover:bg-blue-600 dark:hover:bg-blue-500 dark:bg-blue-600 disabled:bg-zinc-500 disabled:cursor-not-allowed;
  }

  .btn-secondary {
    @apply px-3 xl:px-5 py-2.5 text-sm text-zinc-800 transition-colors duration-200 bg-white border rounded-lg w-auto dark:hover:bg-zinc-800 dark:bg-zinc-900 hover:bg-zinc-100 dark:text-white dark:border-zinc-700 flex items-center justify-center gap-x-2 disabled:bg-zinc-500 disabled:cursor-not-allowed disabled:text-zinc-300;
  }

  .input-search {
    @apply bg-zinc-50 text-sm py-2 px-5 transition-colors duration-300 rounded-sm disabled:bg-zinc-300 disabled:placeholder:text-black disabled:text-black outline-none border-2 dark:border-zinc-500 dark:focus:border-primary hover:bg-zinc-100 focus:bg-white focus:border-primary dark:bg-black;
  }

  .navbar-fixed {
    @apply z-40 bg-opacity-70;
    backdrop-filter: blur(8px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  }

  .editable-text {
    @apply inline-block dark:focus:bg-black dark:hover:bg-black py-0.5 rounded-sm focus:outline-none hover:bg-zinc-100 focus:bg-zinc-200 duration-300 transition-colors editable;
  }

  .sub-text {
    @apply text-zinc-600 dark:text-zinc-300;
  }

  .drag-hover {
    @apply border-4 border-zinc-500;
  }

  .skeleton {
    @apply bg-zinc-400 dark:bg-zinc-600 rounded-md animate-pulse
  }
}

.ProseMirror {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* border: 1px solid black; */
}

.editable:empty:before {
  content: attr(data-placeholder);
  color: #9e9e9e;
  font-weight: 400;
}

/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}

.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}

.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

.scroll-hidden::-webkit-scrollbar {
  height: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

/* SCROLLBAR STYLE */
::-webkit-scrollbar-track {
  background: #fff !important;
  width: 10px !important;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c6c6c6 !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c6c6c6 !important;
}

.image {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='1260' preserveAspectRatio='none' viewBox='0 0 1440 1260'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2576%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsG2591' transform='translate(0%2c 0)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2591' transform='translate(0%2c 676.0000000000001)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2591' transform='translate(676.0000000000001%2c 0)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2591' transform='translate(676.0000000000001%2c 676.0000000000001)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2591' transform='translate(1352.0000000000002%2c 0)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2591' transform='translate(1352.0000000000002%2c 676.0000000000001)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2576'%3e%3crect width='1440' height='1260' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cg id='SvgjsG2580'%3e%3cpath d='M6.07 8.48L13.66 6.01l0.68 2.11-7.59 2.47z'%3e%3c/path%3e%3cpath d='M10.36 0.73l2.26 1.16-3.65 7.15L6.71 7.89z'%3e%3c/path%3e%3cpath d='M6.76 10.6L4.29 3.01l2.1-0.69L8.86 9.91zM-0.45 9.61l12.23 6.24-1.03 2.02L-1.48 11.63z'%3e%3c/path%3e%3cpath d='M1.01 5.72l2.02 1.03-2.91 5.7-2.02-1.03z m10.93 5.57l2.02 1.03-2.91 5.7-2.02-1.03z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG2579'%3e%3cpath d='M2.62 8.59C4.12 5.65 11.54 1.23 11.54 1.23s0.78 8.6-0.72 11.54c-1.02 2-3.51 3.57-6.27 2.16-2.76-1.41-2.96-4.34-1.93-6.34z' fill-rule='evenodd'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG2577'%3e%3cpath d='M4.35 14.54C0.56 12.61-0.96 7.95 0.98 4.16 2.91 0.37 7.56-1.14 11.35 0.79S16.66 7.38 14.73 11.17c-1.93 3.79-6.59 5.3-10.38 3.37z m0.86-1.7c2.85 1.45 6.36 0.32 7.82-2.54 1.45-2.85 0.31-6.36-2.54-7.81-2.85-1.45-6.36-0.31-7.81 2.54-1.46 2.86-0.32 6.36 2.53 7.81z'%3e%3c/path%3e%3cpath d='M7.42 8.59a0.57 0.57 0 0 1-0.47-0.29 0.58 0.58 0 0 1-0.05-0.47L8.93 3.83a0.58 0.58 0 0 1 1.03 0.53l-1.58 3.09 3.29 0.11a0.58 0.58 0 0 1 0.56 0.59c-0.01 0.32-0.28 0.57-0.59 0.57l-4.22-0.13z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG2587'%3e%3cpath d='M12.41 14.91L-0.99 8.08c-0.61 1.19 0.02 2.2 0.74 2.56l10.15 5.17c0.87 0.44 1.98 0.15 2.51-0.9zM14.97 5.01L5.19 0.02l-3.28 6.42c-0.44 0.87-0.04 1.94 0.77 2.36l6.35 3.23c0.92 0.47 1.93 0.02 2.33-0.77L11.64 10.72c1.81 0.92 3.82 0.23 4.62-1.35 0.82-1.62 0.21-3.6-1.29-4.36z m0.13 3.77c-0.47 0.92-1.6 1.46-2.84 0.72L14.02 6.04l0.34 0.17 0 0c1.24 0.63 1.04 2.01 0.74 2.57l0 0z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG2589'%3e%3cpath d='M13.81 11.77l-1.32-0.67-2.58 5.07c-0.45 0.9 0.86 1.57 1.31 0.67L13.81 11.77z m-1.51-0.77l-1.32-0.67-2.58 5.07c-0.45 0.89 0.86 1.56 1.32 0.67L12.3 11z m-3.2-1.63l-1.32-0.67-2.58 5.07c-0.45 0.9 0.86 1.57 1.32 0.67L9.1 9.37z m-1.51-0.76l-1.32-0.68-2.58 5.07c-0.45 0.89 0.86 1.56 1.32 0.67L7.59 8.61z m-3.2-1.64l-1.32-0.67-2.58 5.07c-0.45 0.9 0.86 1.57 1.32 0.67L4.39 6.97z m-1.5-0.76l-1.32-0.67-2.58 5.06c-0.45 0.89 0.86 1.56 1.31 0.67L2.89 6.21z'%3e%3c/path%3e%3cpath d='M14.84 11.82a0.57 0.57 0 0 1-0.78 0.26s-3.45-1.75-3.46-1.77a0.58 0.58 0 0 1-0.25-0.77L12.26 5.79a0.79 0.79 0 0 1 1.09-0.35c0-0.01 3.05 1.55 3.04 1.55a0.79 0.79 0 0 1 0.36 1.08l-1.91 3.75 0 0zM15.04 5.91c0.54 0.28 1.2 0.06 1.48-0.48A1.1 1.1 0 0 0 16.05 3.95a1.12 1.12 0 0 0-1.5 0.48 1.11 1.11 0 0 0 0.49 1.48z m-4.91 3.51a0.57 0.57 0 0 1-0.78 0.26s-3.45-1.75-3.45-1.76a0.58 0.58 0 0 1-0.26-0.78L7.55 3.39a0.79 0.79 0 0 1 1.09-0.35c0-0.01 3.05 1.55 3.05 1.55a0.79 0.79 0 0 1 0.35 1.09l-1.91 3.74zM10.34 3.52c0.54 0.27 1.2 0.06 1.47-0.48A1.1 1.1 0 0 0 11.34 1.55a1.12 1.12 0 0 0-1.5 0.48 1.11 1.11 0 0 0 0.5 1.49z m-4.92 3.51a0.57 0.57 0 0 1-0.77 0.25s-3.45-1.75-3.46-1.76a0.58 0.58 0 0 1-0.25-0.78L2.85 0.99a0.79 0.79 0 0 1 1.08-0.35c0-0.01 3.05 1.55 3.05 1.55a0.79 0.79 0 0 1 0.35 1.09l-1.91 3.75zM5.63 1.12c0.54 0.28 1.2 0.06 1.47-0.48A1.1 1.1 0 0 0 6.63-0.85a1.12 1.12 0 0 0-1.49 0.49A1.11 1.11 0 0 0 5.63 1.12z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG2585'%3e%3cpath d='M12.41 13.33c-1.24 2.44-4.22 3.41-6.66 2.16-2.44-1.24-3.41-4.22-2.17-6.66 0.59-1.16 1.71-2.71 4.03-3.46 4.25-1.38 5.21-2.93 5.21-2.93 1.66 5.11 0.83 8.45-0.41 10.89z'%3e%3c/path%3e%3cpath d='M6.32 2.43s-0.96 2.9 0.65 5.66c0.89 1.53 2.42 5.32 1.99 6.16-0.9 1.77-5.36 0.15-7.13-0.75s-2.47-3.06-1.57-4.83c0.9-1.77 2.36-5.04 6.06-6.24z'%3e%3c/path%3e%3cpath d='M8.76 6.77s-0.37 0.91 0.38 3.21c0.41 1.26 0.09 2.24-0.24 2.87-0.67 1.32-2.29 1.85-3.6 1.18s-1.85-2.29-1.18-3.61c0.67-1.32 1.87-2.75 4.65-3.65z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG2586'%3e%3cpath d='M10.36 14.09c-3.27-1.66-4.57-5.66-2.91-8.93 0.95-1.87 2.68-3.1 4.59-3.49-3.61-1.67-7.92-0.2-9.74 3.38-1.86 3.66-0.41 8.13 3.25 9.99 2.37 1.21 5.08 1.02 7.21-0.25a6.6 6.6 0 0 1-2.41-0.7z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG2590'%3e%3cpath d='M5.4 11.9S5.16 10.05 2.77 8.84C0.59 7.73-0.87 7.78-0.87 7.78L3.62-1.03s1.46-0.06 3.65 1.04C9.67 1.21 9.89 3.08 9.89 3.08L5.4 11.9z m0.97 0.49s1.63-0.89 4.01 0.33c2.18 1.11 3 2.33 3 2.32L17.87 6.22s-0.81-1.21-2.99-2.34c-2.38-1.23-4.02-0.31-4.02-0.31l-4.49 8.82z'%3e%3c/path%3e%3cpath d='M4.5 14.9S4.12 12.09 1.73 10.88c-2.18-1.11-3.64-1.06-3.64-1.06l0.54-1.05s1.46-0.06 3.65 1.04c2.39 1.2 2.76 4.03 2.76 4.03L4.5 14.9z m0 0s2.49-1.34 4.87-0.13c2.18 1.11 3 2.33 3 2.33l0.54-1.06s-0.81-1.21-2.99-2.34c-2.37-1.23-4.88 0.14-4.88 0.14l-0.54 1.05z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG2584'%3e%3cpath d='M1.68 9.48L3.16 6.58c1.29-2.53 4.59-3.55 7.25-2.19 2.69 1.37 3.8 4.58 2.49 7.15l-1.48 2.9 1.2 0.62L14.1 12.15C15.77 8.9 14.38 4.88 11.03 3.18 7.7 1.48 3.59 2.76 1.95 5.96l-1.47 2.91 1.2 0.61z'%3e%3c/path%3e%3cpath d='M2.7 12.82l-1.59-0.8L3.43 7.46l1.59 0.81c-0.26 2.53-2.32 4.55-2.32 4.55m7.71-1.8L12 11.83 9.68 16.38l-1.59-0.81c0.26-2.53 2.32-4.56 2.32-4.55'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG2581'%3e%3cpath d='M-0.59 10.14l12.49 6.37L16.73 7.03 4.24 0.67l-4.83 9.47z m15.34-3L8.73 9.08c-0.62 0.2-1.33-0.18-1.54-0.8l-1.94-5.98 9.49 4.83z m-10.4-4.52l1.58 4.89-4.89 1.59 3.31-6.48z m-3.03 7.4l4.89-1.59 0.07 0.2c0.39 1.12 1.61 1.74 2.72 1.39l0.21-0.07 1.61 4.91-9.5-4.84z m10.43 4.53L10.16 9.66 15.05 8.07 11.74 14.56z' fill-rule='evenodd'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG2582'%3e%3cpath d='M12.45 16.84L10.58 11.07a6.3 6.3 0 1 0-6.18 0.27 6.26 6.26 0 0 0 3.32 0.66l1.87 5.77L12.45 16.84zM3.78 3.95a3.91 3.91 0 0 1 5.25-1.7 3.91 3.91 0 0 1 1.7 5.24 3.9 3.9 0 0 1-6.95-3.54z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG2588'%3e%3cpath d='M11.14 1.83C7.22-0.17 2.81 0.61 1.31 3.57c-0.74 1.45-0.64 3.15 0.1 4.74l-1.63 3.22 4.57 0.2c0.42 0.3 0.86 0.57 1.33 0.81 3.93 2 8.33 1.22 9.84-1.73C17.03 7.85 15.07 3.83 11.14 1.83z' fill-rule='evenodd'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG2583'%3e%3cpath d='M4.98 13.93l7.94-2.58c2.47-0.8 3.65-3.2 2.92-5.44A4.27 4.27 0 0 0 10.46 3.17a4.26 4.26 0 0 0-5.36-2.75C2.85 1.15 1.59 3.52 2.41 5.98L4.98 13.93z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG2578'%3e%3cpath d='M7.04 4.45L11.64 0.88l-0.19 5.82 4.55 3.26-5.43 1.84-1.79 5.59L5.61 12.71-0.04 12.9l3.47-4.74L1.73 2.69z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG2591'%3e%3cuse xlink:href='%23SvgjsG2577' transform='translate(0%2c 0) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2578' transform='translate(0%2c 67.60000000000001) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2579' transform='translate(0%2c 135.20000000000002) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2580' transform='translate(0%2c 202.8) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2581' transform='translate(0%2c 270.40000000000003) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2582' transform='translate(0%2c 338.00000000000006) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2583' transform='translate(0%2c 405.6) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2584' transform='translate(0%2c 473.20000000000005) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2580' transform='translate(0%2c 540.8000000000001) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2585' transform='translate(0%2c 608.4000000000001) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2583' transform='translate(67.60000000000001%2c 0) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2577' transform='translate(67.60000000000001%2c 67.60000000000001) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2586' transform='translate(67.60000000000001%2c 135.20000000000002) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2587' transform='translate(67.60000000000001%2c 202.8) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2577' transform='translate(67.60000000000001%2c 270.40000000000003) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2582' transform='translate(67.60000000000001%2c 338.00000000000006) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2586' transform='translate(67.60000000000001%2c 405.6) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2581' transform='translate(67.60000000000001%2c 473.20000000000005) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2584' transform='translate(67.60000000000001%2c 540.8000000000001) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2579' transform='translate(67.60000000000001%2c 608.4000000000001) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2588' transform='translate(135.20000000000002%2c 0) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2581' transform='translate(135.20000000000002%2c 67.60000000000001) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2584' transform='translate(135.20000000000002%2c 135.20000000000002) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2587' transform='translate(135.20000000000002%2c 202.8) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2587' transform='translate(135.20000000000002%2c 270.40000000000003) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2583' transform='translate(135.20000000000002%2c 338.00000000000006) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2577' transform='translate(135.20000000000002%2c 405.6) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2583' transform='translate(135.20000000000002%2c 473.20000000000005) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2581' transform='translate(135.20000000000002%2c 540.8000000000001) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2579' transform='translate(135.20000000000002%2c 608.4000000000001) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2578' transform='translate(202.8%2c 0) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2588' transform='translate(202.8%2c 67.60000000000001) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2584' transform='translate(202.8%2c 135.20000000000002) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2586' transform='translate(202.8%2c 202.8) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2583' transform='translate(202.8%2c 270.40000000000003) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2589' transform='translate(202.8%2c 338.00000000000006) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2580' transform='translate(202.8%2c 405.6) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2583' transform='translate(202.8%2c 473.20000000000005) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2585' transform='translate(202.8%2c 540.8000000000001) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2590' transform='translate(202.8%2c 608.4000000000001) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2590' transform='translate(270.40000000000003%2c 0) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2585' transform='translate(270.40000000000003%2c 67.60000000000001) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2585' transform='translate(270.40000000000003%2c 135.20000000000002) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2584' transform='translate(270.40000000000003%2c 202.8) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2585' transform='translate(270.40000000000003%2c 270.40000000000003) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2577' transform='translate(270.40000000000003%2c 338.00000000000006) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2581' transform='translate(270.40000000000003%2c 405.6) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2590' transform='translate(270.40000000000003%2c 473.20000000000005) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2590' transform='translate(270.40000000000003%2c 540.8000000000001) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2578' transform='translate(270.40000000000003%2c 608.4000000000001) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2589' transform='translate(338.00000000000006%2c 0) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2590' transform='translate(338.00000000000006%2c 67.60000000000001) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2589' transform='translate(338.00000000000006%2c 135.20000000000002) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2587' transform='translate(338.00000000000006%2c 202.8) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2584' transform='translate(338.00000000000006%2c 270.40000000000003) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2584' transform='translate(338.00000000000006%2c 338.00000000000006) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2581' transform='translate(338.00000000000006%2c 405.6) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2578' transform='translate(338.00000000000006%2c 473.20000000000005) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2587' transform='translate(338.00000000000006%2c 540.8000000000001) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2590' transform='translate(338.00000000000006%2c 608.4000000000001) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2587' transform='translate(405.6%2c 0) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2579' transform='translate(405.6%2c 67.60000000000001) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2577' transform='translate(405.6%2c 135.20000000000002) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2590' transform='translate(405.6%2c 202.8) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2582' transform='translate(405.6%2c 270.40000000000003) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2580' transform='translate(405.6%2c 338.00000000000006) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2589' transform='translate(405.6%2c 405.6) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2578' transform='translate(405.6%2c 473.20000000000005) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2583' transform='translate(405.6%2c 540.8000000000001) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2582' transform='translate(405.6%2c 608.4000000000001) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2581' transform='translate(473.20000000000005%2c 0) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2590' transform='translate(473.20000000000005%2c 67.60000000000001) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2581' transform='translate(473.20000000000005%2c 135.20000000000002) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2586' transform='translate(473.20000000000005%2c 202.8) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2583' transform='translate(473.20000000000005%2c 270.40000000000003) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2587' transform='translate(473.20000000000005%2c 338.00000000000006) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2587' transform='translate(473.20000000000005%2c 405.6) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2589' transform='translate(473.20000000000005%2c 473.20000000000005) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2590' transform='translate(473.20000000000005%2c 540.8000000000001) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2583' transform='translate(473.20000000000005%2c 608.4000000000001) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2579' transform='translate(540.8000000000001%2c 0) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2584' transform='translate(540.8000000000001%2c 67.60000000000001) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2589' transform='translate(540.8000000000001%2c 135.20000000000002) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2587' transform='translate(540.8000000000001%2c 202.8) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2590' transform='translate(540.8000000000001%2c 270.40000000000003) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2584' transform='translate(540.8000000000001%2c 338.00000000000006) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2582' transform='translate(540.8000000000001%2c 405.6) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2584' transform='translate(540.8000000000001%2c 473.20000000000005) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2583' transform='translate(540.8000000000001%2c 540.8000000000001) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2587' transform='translate(540.8000000000001%2c 608.4000000000001) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2580' transform='translate(608.4000000000001%2c 0) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2579' transform='translate(608.4000000000001%2c 67.60000000000001) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2587' transform='translate(608.4000000000001%2c 135.20000000000002) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2590' transform='translate(608.4000000000001%2c 202.8) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2579' transform='translate(608.4000000000001%2c 270.40000000000003) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2589' transform='translate(608.4000000000001%2c 338.00000000000006) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2585' transform='translate(608.4000000000001%2c 405.6) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2578' transform='translate(608.4000000000001%2c 473.20000000000005) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2588' transform='translate(608.4000000000001%2c 540.8000000000001) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2584' transform='translate(608.4000000000001%2c 608.4000000000001) scale(2.6)' fill='rgba(145%2c 145%2c 145%2c 0.59)'%3e%3c/use%3e%3c/g%3e%3c/defs%3e%3c/svg%3e");
}