/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
}

// TIPTAP
/* Basic editor styles */
.ProseMirror {
  > * + * {
    margin-top: 2px;
  }

  ul {
    @apply list-disc list-outside;
  }
  ol {
    @apply list-decimal list-outside;
  }

  a {
    @apply underline text-zinc-500 cursor-pointer;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1 {
    font-size: 29px;
  }
  h2 {
    font-size: 27px;
  }
  h3 {
    font-size: 23px;
  }
  h4 {
    font-size: 21px;
  }
  h5 {
    font-size: 17px;
  }
  h6 {
    font-size: 15px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    font-family: "JetBrainsMono", monospace;
    @apply bg-zinc-500 text-white text-sm p-1;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 15px;
    }
    .hljs-comment,
    .hljs-quote {
      color: #616161;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }

  img {
    height: auto;
    max-width: 100%;

    &.ProseMirror-selectednode {
      outline: 3px solid #68cef8;
    }
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }

  table {
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;

    td,
    th {
      border: 2px solid #ced4da;
      box-sizing: border-box;
      min-width: 1em;
      padding: 3px 5px;
      position: relative;
      vertical-align: top;

      > * {
        margin-bottom: 0;
      }
    }

    th {
      background-color: #f1f3f5;
      font-weight: bold;
      text-align: left;
    }

    .selectedCell:after {
      background: rgba(200, 200, 255, 0.4);
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      pointer-events: none;
      position: absolute;
      z-index: 2;
    }

    .column-resize-handle {
      background-color: #adf;
      bottom: -2px;
      position: absolute;
      right: -2px;
      pointer-events: none;
      top: 0;
      width: 4px;
    }

    p {
      margin: 0;
    }
  }
}

.tableWrapper {
  padding: 1rem 0;
  overflow-x: auto;
}

.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.collaboration-cursor__caret {
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}

/* Render the username above the caret */
.collaboration-cursor__label {
  border-radius: 3px 3px 3px 0;
  color: #0d0d0d;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  left: -1px;
  line-height: normal;
  padding: 0.1rem 0.3rem;
  position: absolute;
  top: -1.4em;
  user-select: none;
  white-space: nowrap;
}

/* *{
  border: 1px red solid;
} */

@layer utilities {
  .contain {
    @apply container mx-auto;
  }

  .btn-primary {
    @apply flex items-center justify-center px-3 xl:px-5 py-2.5 text-sm tracking-wide text-white transition-colors duration-200 bg-blue-500 rounded-lg w-auto gap-x-2 hover:bg-blue-600 dark:hover:bg-blue-500 dark:bg-blue-600 disabled:bg-zinc-500 disabled:cursor-not-allowed;
  }

  .btn-secondary {
    @apply px-3 xl:px-5 py-2.5 text-sm text-zinc-800 transition-colors duration-200 bg-white border rounded-lg w-auto dark:hover:bg-zinc-800 dark:bg-zinc-900 hover:bg-zinc-100 dark:text-white dark:border-zinc-700 flex items-center justify-center gap-x-2 disabled:bg-zinc-500 disabled:cursor-not-allowed disabled:text-zinc-300;
  }

  .input-search {
    @apply bg-zinc-50 text-sm py-2 px-5 transition-colors duration-300 rounded-sm disabled:bg-zinc-300 disabled:placeholder:text-black disabled:text-black outline-none border-2 dark:border-zinc-500 dark:focus:border-primary hover:bg-zinc-100 focus:bg-white focus:border-primary dark:bg-black;
  }

  .navbar-fixed {
    @apply z-40 bg-opacity-70;
    backdrop-filter: blur(8px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  }

  .editable-text {
    @apply inline-block dark:focus:bg-black dark:hover:bg-black py-0.5 rounded-sm focus:outline-none hover:bg-zinc-100 focus:bg-zinc-200 duration-300 transition-colors editable;
  }

  .sub-text {
    @apply text-zinc-600 dark:text-zinc-300;
  }

  .drag-hover {
    @apply border-4 border-zinc-500;
  }

  .skeleton {
    @apply bg-zinc-400 dark:bg-zinc-600 rounded-md animate-pulse
  }
}

.ProseMirror {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* border: 1px solid black; */
}

.editable:empty:before {
  content: attr(data-placeholder);
  color: #9e9e9e;
  font-weight: 400;
}

/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}

.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}

.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

.scroll-hidden::-webkit-scrollbar {
  height: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

/* SCROLLBAR STYLE */
::-webkit-scrollbar-track {
  background: #fff !important;
  width: 10px !important;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c6c6c6 !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c6c6c6 !important;
}
